@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 10px;
    background-color: aliceblue;
}

h1 {
    text-align: center;
    background-color: rgb(9, 161, 98);
    color: white;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid black;
}

form {
    margin: auto;
    max-width: 500px;
}

fieldset {
    margin-bottom: 20px ;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: rgb(255, 233, 167);
}

legend {
    font-weight: bold;
    font-size: 1.3em;
    background-color: rgb(43, 119, 226);
    color: white;
    padding: 5px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
}

div.login {
    width: max-content;
    margin: auto;
}


div.form-input {
    margin: 5px 0px;
}

input {
    border: 2px solid black;
    border-radius: 5px;
}

input.boxidade {
    width: 45px;
    padding-left: 4px;
}

legend.optional {
    margin-bottom: 5px;
}

.required::after {
    content: "*";
    color: rgb(153, 1, 1);
}

.optional::after {
    content: " (Opcional)";
    color: rgb(127, 127, 127);
    font-size: 0.9em;
}

div.form-button {
    text-align: center;
    margin: 20px;
}

input.buttom {
    width: 70px;
    height: 30px;
    font-size: 1.2em;
    padding: 2px 4px;
    text-align: center;
    color: white;
}

input#enviar {
    background-color: rgb(43, 119, 226);
}

input#limpar {
    background-color: rgb(246, 94, 77);
}
