@charset "UTF-8";

@font-face {
    font-family: Texas;
    src: url(fontes/texas\ font.otf) format('opentype');
}

body {
    background-image: linear-gradient(to right, rgb(250, 213, 213), rgb(251, 223, 223));
}

h1 {
    font-family: Texas, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    background-color: rgb(185, 43, 81);
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(125, 7, 40);
    border-width: 5px;
    color: rgb(253, 205, 12);
}

div {
    text-align: center;
}

div.home {
    background-color: rgb(185, 43, 81);
    border: 5px solid rgb(125, 7, 40);
    display: block;
    padding: 10px 10px 6px;
    max-width: 720px;
    margin: auto;
}
img.thumb {
    width: 49%;
    margin-right: 5px;
    margin-bottom: 5px;
}

img.thumb:last-child {
    margin-right: 0px;
    margin-bottom: 0px;
}

.video {
    width: 800px;
    height: 450px;
}

a.link {
    background-color: rgb(185, 43, 81);
    border: 3px solid rgb(125, 7, 40);
    color: rgb(253, 205, 12);
    border-radius: 5px;
    text-decoration: none;
}

a.link:hover {
    text-decoration: underline;
}